@model FINALPROJECT.Domain.Models.ResponseModel.CarResponseModel
@{
    Layout = "_Layout";
}

<h2>Delete Car</h2>

<div>
    <h4>Are you sure you want to delete this car?</h4>
    <div>
        <h4>@Model.Name</h4>
    </div>
</div>

